body {
    background-color: #FFFFFF;
    font-family: "Roboto", "Raleway", "sans-serif";
    width: 1600px;
    height: 2410px;
}

a {
    text-decoration: none;
}

/* estilos del header*/
#logo-web{
    color: #2196F3;
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 700;
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-left: 110px;
}
  
/*BG*/
.principal-frame {
    width: 1600px;
    height: 600px; 
    margin: 0 auto 0 auto;
    border-top: 0;
    background: #2F303A;
    }


.solutions-title {
    color: #FFFFFF;
    size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 200px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.style-link {
    color: #212121;
    font-size: 14px;
    margin-top: 32px;
    margin-right: 16px;
    margin-bottom: 32px;
    margin-left: 0;
}

.style-link:hover, .style-link:focus{
    color: #2196F3;
}

.soluciones-button {
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
}

.contact {
   color: #757575;
}

.contact:hover, .contact:focus{
    color: #2196F3;
}

/*estilos parrafos e informacion principal*/
.section-par {
color: #757575;
size: 14px;
letter-spacing: 0.03em;
margin: auto;
width: auto;
line-height: 2.4;
}

.section-par ul {
    list-style: none;
}

/*estilos del portafolio*/

.bg-line {
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
}

.bg-line ul {
    list-style: none;
    display: flex;
}

.button {
    cursor: pointer;
    background-color: #F5F4FA;
    font-size: 16px;
}
.button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.button ul {
    list-style-type: none;
}

/* estilos del footer*/
.webstudio-footer {
    background-color: #2F303A;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;
}

.final-list {
    color: #FFFFFF;
    size: 14px;
    margin-top: 9px;
    margin-bottom: 83px;
    padding-left: 115px;
    list-style: none;
}

.final-list ul {
    list-style: none;
    line-height: 2.4;
    color: rgba(255, 255, 255, 0.6);
}

.list-city {
    color: #FFFFFF;
    letter-spacing: 0.03em
}

#social-tittle {
    text-transform: uppercase;
    color: #FFFFFF;
}